<%= form_with(model: @word, local: true, url: choose_new_or_edit) do |form| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-center" >ひとりごとは1〜140文字に収めてください</h2>
    </div>
  <% end %>

  <div class="form-contents">
    <div class="my-word">
      <h3 class="page-title"><%= form.label :content, "考えていること" %></h3>
      <br>
      <%= form.text_area :content, size: "30x5" %>
    </div>
    <br>
    <p><%= form.submit "ひとりごちる", class: "buttons" %></p>
  </div>
<% end %>
