body {
  width: 100%;
  padding:0 ;
}

.container-fluid {
  margin: 0;
}

.navbar {
  width: 100%;
  margin: 0 0;
}

.navbar-nav {
  width: 100%;
}

.links {
  margin: 0 auto;
}

.links btn {
  background-color: none;
}

#logo {
  margin: 0 auto;
  color: gray;
}
.yield-wrapper {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.table-wrapper {
  width: 100%;
}

.table-container {
  margin: 0 auto;
}

table td {
  width: 20px;
  background-color: red;
}

.form-contents {

}

footer nav a {
  margin: 0 auto;
  color: gray;
}
